body {
  font-family: "ProximaNovaRegular";
  background: var(--color-white);
  color: var(--color-text);
  overflow-x: hidden;
  letter-spacing: 1px;
}

.container {
  margin: 0 auto;
  padding: 0 51px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 51px;
  }
}
section {
  padding-bottom: 50px;
  @media screen and (min-width: 1200px) {
    padding: 100px 0;
  }
}

.section__display-none {
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .section__display-none {
    display: block;
  }
}

.section__title-none {
  visibility: hidden;
}
.section__title {
  position: relative;
  font-weight: 700;
  font-size: 35px;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 30px;
  &::before {
    content:'';
    position: absolute;
    width:20px;
    height: 100%;
    background:var(--color-hover);
    z-index: -1;
    margin-left: -4px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

form {
  position: relative;
}
